.tela_login{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_login {
    background-color: #470000;
    color: white;
    border-radius: 20px;
    padding: 2em;
    margin: 1em;

    width: 50%;
}