* {
  font-family: Iosevka, sans-serif;
}

.campo {
  display: flex;
  flex-direction: column;
}

#root {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tela-login {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.tela-login > * {
  margin: 5px;
}

.tela-login button {
  width: 50%;
  height: 2em;
  font-size: 18px;
}

.campo {
  width: 100%
}

.campo input {
  border: solid black 1px;
  border-radius: 10px;
  height: 2em;
  padding: 5px;
}

.campo-redes-sociais {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}

.campo-redes-sociais .circulo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: solid 1px black;
  border-radius: 50px;
  overflow: hidden;
}

.campo-redes-sociais .circulo img {
  width: 80%;
  height: auto;
}
